{% extends 'base.html' %}

{% block title %}
Создать страницу
{% endblock %}

{% block content %}
{% if page %}
    <h1>Редактировать страницу {{page.name}} новеллы <a href="{% url 'novel' novel_id=novel.id%}"></a></h1>
{% else %}
    <h1>Создать страницу для новеллы <a href="{% url 'novel' novel_id=novel.id%}"></a></h1>
{% endif %}
{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
<form method="POST">
    {% csrf_token %}

    {{form.name}}<br>
    {{form.text}}<br>
    {{form.chapter}}<br>

    {{form.is_first}}<br>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
{% endblock %}