{% extends 'base.html' %}

{% block title %}
Создать главу к новелле {{novel.name}}
{% endblock %}

{% block content %}
{% if chapter %}
    <h1>Редактировать главу {{ chapter.name }} новеллы <a href="{% url 'novel' novel_id=novel.id%}">{{ novel.name }}</a></h1>
{% else %}
    <h1>Создать главу к новелле <a href="{% url 'novel' novel_id=novel.id%}">{{ novel.name }}</a></h1>
{% endif %}

<form method="POST">
    {% csrf_token %}
    {{ form.name }}
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>
{% endblock %}