{% extends 'base.html' %}

{% block title %}
{% if selection %}
    Редактировать выбор для страницы {{ page.name }}
{% else %}
    Создать выбор для страницы {{ page.name }}
{% endif %}
{% endblock %}

{% block content %}
{% if selection %}
    <h1>Редактировать выбор для страницы <a href="{% url 'page' novel_id=novel.id page_id=page.id %}">{{ page.name }}</a></h1>
{% else %}
    <h1>Создать выбор для страницы <a href="{% url 'page' novel_id=novel.id page_id=page.id %}">{{ page.name }}</a></h1>
{% endif %}

<form method="POST">
    {% csrf_token %}

    {{ form.text }}<br>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

{% endblock %}