{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<h1>Вход</h1>

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}<br>
    </div>

    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}<br>
    </div>
    
    <button type="submit" class="btn btn-success">Войти</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>
    <p><a href="{% url 'register' %}">Зарегистрироваться</a></p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}