{% extends 'base.html' %}

{% block title %}
Забыли пароль?
{% endblock %}

{% block content %}
<h3>Пожалуйста, введите адрес электронной почты, который указывали при регистрации</h3>
<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}{% if form.email.errors %} {{ form.email.errors }} {% endif %}<br>
        <button type="submit" class="btn btn-success">Сбросить пароль</button>
    </div>
</form>
{% endblock %}