{% extends "base.html" %}

{% block title %}

Смена пароля

{% endblock %}

{% block content %}
  {% if validlink %}
    <p>Пожалуйста, введите и подтвердите новый пароль.</p>
    <form action="" method="post">
      {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            {{ form.new_password1 }}{% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}<br>
            <button type="submit" class="btn btn-success">Новый пароль</button>
        </div>

        <div class="form-group">
            <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            {{ form.new_password2 }}{% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}<br>
            <button type="submit" class="btn btn-success">Повторите новый пароль</button>
        </div>

        <button type="submit" class="btn btn-success">Сохранить новый пароль</button>
    </form>
  {% else %}
    <h1>Ошибка!</h1>
    <p>
        Возможно, этой ссылкой уже воспользовались. Пожалуйста, запросите сброс пароля снова.
    </p>
  {% endif %}
{% endblock %}