{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}

<h1> Регистрация </h1>

<form method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}<br>
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}<br>
    </div>
    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
        {{ form.first_name }}<br>
    </div>
    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
        {{ form.last_name }}<br>
    </div>
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}<br>
    </div>
    <div class="form-group">
        <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}<br>
    </div>

    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

{% endblock %}